@mixin icon-button {
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar-icon {
  display: none;
  margin-right: 24px;
  @include icon-button();

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-action {
  @include icon-button();
}

.icon-action,
.avatar-action {
  cursor: pointer;
}
