header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar-icon {
  display: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s;
  margin-right: 24px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
