<dd-page-title> Overview </dd-page-title>
<section>
  <div class="cards">
    <div *ngFor="let cardData of cardsData">
      <dd-card [data]="cardData"></dd-card>
    </div>
  </div>
  <div class="center-chart">
    <dd-request-per-day-chart></dd-request-per-day-chart>
  </div>
  <div class="bottom-charts">
    <div>
      <dd-bar-chart
        title="Total amount requested"
        color="#F6C77D"
      ></dd-bar-chart>
    </div>
    <div>
      <dd-bar-chart title="Total number of requested"></dd-bar-chart>
    </div>
    <div>
      <dd-available-liquidity-chart></dd-available-liquidity-chart>
    </div>
  </div>
</section>
