.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 32px;
  margin-bottom: 24px;

  div {
    min-width: 200px;
    flex: 1;
  }
}

.center-chart {
  margin: 25px 0;
}

.bottom-charts {
  display: flex;
}
