:host {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 2rem;
  flex-direction: row;
  row-gap: 0.5rem;

  .buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex: 1;

    button {
      width: 2.625rem;
      height: 2.625rem;
      background: transparent;
      border: 1px solid #000;
      border-radius: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:disabled {
        border: 1px solid rgba(0, 0, 0, 0.25);
        cursor: default;
      }
    }
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}
