<dd-page-title> Advance Payments </dd-page-title>
<dd-default-filter
  [(ngModel)]="filter"
  (ngModelChange)="changeFilter()"
></dd-default-filter>
<dd-table>
  <thead #header>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Status</th>
      <th>Payroll date</th>
    </tr>
  </thead>
  <tbody #body>
    <tr *ngFor="let payment of payments">
      <td idChip>{{ payment.id }}</td>
      <td>{{ payment.name }}</td>
      <td>{{ payment.amount }}</td>
      <td>{{ payment.date | date : "dd.MM.yyyy" }}</td>
      <td>{{ payment.status }}</td>
      <td>{{ payment.payrollDate | date : "MMMM yyyy" }}</td>
    </tr>
  </tbody>
</dd-table>
