<dd-page-title> Advance Payments </dd-page-title>
<dd-default-filter [(ngModel)]="filter" #field="ngModel"></dd-default-filter>
<div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        <th>Payroll date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.id }}</td>
        <td>{{ payment.name }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.date }}</td>
        <td>{{ payment.status }}</td>
        <td>{{ payment.payrollDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
