<dd-page-title>Advance Payments</dd-page-title>
<div class="filter">
  <dd-input-search
    placeholder="Search by..."
    [hasBorder]="true"
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterByTerm($event)"
  />
  <dd-select
    [items]="itensPerPageOptions"
    [(ngModel)]="filter.itensPerPage"
    (ngModelChange)="showPayments()"
  />
</div>
<dd-loading-spinner *ngIf="loading" />
<ng-container *ngIf="payments$ | async as payments">
  <dd-table
    *ngIf="payments"
    [tableConfig]="tableConfig"
    [tableContent]="payments.data"
    (orderByEmit)="order($event)"
  />
  <dd-pagination
    [page]="filter.page"
    [itensPerPage]="filter.itensPerPage"
    [total]="payments.total"
    (pageEvent)="pagination($event)"
  />
</ng-container>
