:host {
  .body {
    margin-left: 247px;
    max-height: 100vh;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }

    dd-header {
      position: fixed;
      left: 247px;
      right: 0;
      top: 0;

      @media screen and (max-width: 768px) {
        left: 0;
      }
    }

    main {
      margin-top: 76px;
      padding-left: 24px;
      overflow: auto;

      max-height: calc(100vh - 76px);

      @media screen and (max-width: 768px) {
        padding: 76px 6px 0;
      }
    }
  }
}
