/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-1);
  color: var(--text-1);
}

:root {
  --bg-1: #ffffff;
  --text-1: #170f49;
  --text-2: #809fb8;
  --text-3: #09234f;
  --text-4: #828282;
  --border-1: #ebebeb;
  --green-1: #3dbd3d;
}
