<table>
  <thead>
    <tr>
      <th *ngFor="let columnHead of tableConfig.columns">
        <div>
          <span>{{ columnHead.title }}</span>
          <span *ngIf="columnHead.sortable" class="sortable-icons">
            <ng-icon name="tablerCaretUp" size="18"></ng-icon>
            <ng-icon name="tablerCaretDown" size="18"></ng-icon>
          </span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let columnData of tableContent">
      <td
        *ngFor="let columnHead of tableConfig.columns"
        [class.id]="columnHead.dataProperty === 'id'"
      >
        <div
          [ngClass]="columnHead?.statusColorFn?.(columnData[columnHead.dataProperty]) || ''"
        >
          <span>
            <ng-container [ngSwitch]="columnHead.pipe">
              <ng-container *ngSwitchCase="'currency'">
                {{ columnData[columnHead.dataProperty] | currency }}
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                {{
                  columnData[columnHead.dataProperty]
                    | date : columnHead.pipeParameters
                }}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ columnData[columnHead.dataProperty] }}
              </ng-container>
            </ng-container>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
